<!DOCTYPE html>
<html>
<head>
    <title>Cloud10 | Upcoming Rocket Launches</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: "Product Sans";
            font-style: normal;
            font-weight: 400;
            src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
        }

        body {
            font-family: "Product Sans";
            text-align: center;
            /*background-image: url("static/web_background.png");*/
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        #map {
            width: inherit;
            height: 40em;
        }

        h2 {
            margin-top: 1.5%;
        }

    </style>

    <!-- Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>

<img src="static/logo.png" width="10%" height="10%">

<div class="container">
    {% set page = "index" %}
    {% include "navbar.html" %}

    <h2>Upcoming launches</h2>
    <table width="100%">
        <tr>
            <th>Spacecraft Name</th>
            <th>Launch Start</th>
            <th>Launch End</th>
        </tr>

        {% for launch in launches %}
            <tr>
                <td>{{ launch.name }}</td>
                <td>{{ launch.windowstart }}</td>
                <td>{{ launch.windowend }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Launch sites</h3>
    <div id='map'></div>
    <h3>Best viewing locations for Launch</h3>
    <b>Coming soon!</b>



    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoieGl1cm9iZXJ0IiwiYSI6ImNqN2VzMThmajByYWYyem80d3dtcG51aDMifQ.6030N97DDmcInpn-4SqreQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [-71.052069, 42.363484],
            zoom: 1.0
        });

        if (map.areTilesLoaded() === true) {
            $(".mapboxgl-canvas").css("position", "relative");
        }

        map.on("load", function () {
            /* Image: An image is loaded and added to the map. */
            map.loadImage("/static/marker.png", function(error, image) {
                if (error) throw error;
                map.addImage("custom-marker", image);
                /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
                map.addLayer({
                    id: "markers",
                    type: "symbol",
                    /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
                    source: {
                        type: "geojson",
                        data:
                            {
                                type: "FeatureCollection",
                                features:[
                                    {% for pad in padinfo %}
                                        {
                                            "type":"Feature",
                                            "properties": {
                                                "description": "Weather: {{ pad.weather_general }}<br>" +
                                                "Temperature: {{ pad.temp }}<br>" +
                                                "Humidity: {{ pad.humidity }}%<br>" +
                                                "Wind Speed: {{ pad.windspeed }}km/h<br>" +
                                                "Cloud cover: {{ pad.cloudpercent }}%",
                                            },

                                            "geometry":{
                                                "type":"Point",
                                                "coordinates":["{{ pad.lat }}","{{ pad.lon }}"]
                                            }
                                        },
                                    {% endfor %}
                                ]
                            }


                    },
                    layout: {
                        "icon-image": "custom-marker",
                    }
                });
            });
            map.on('click', 'markers', function (e) {
                var coordinates = e.features[0].geometry.coordinates.slice();
                var description = e.features[0].properties.description;

                // Ensure that if the map is zoomed out such that multiple
                // copies of the feature are visible, the popup appears
                // over the copy being pointed to.
                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                }

                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML(description)
                    .addTo(map);
            });
        })
    </script>


</div>




</body>
</html>