<nav class="nav justify-content-center nav-tabs">

    <a class="nav-link" href="#">Home</a>
    <div class="dropdown">

        {% if page == "index" or page == "spacex_graphviz" %}
            <a class="nav-link dropdown-toggle active" href="#"
               role="button" id="dropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Launch Data</a>
        {% else %}
            <a class="nav-link dropdown-toggle" href="#"
               role="button" id="dropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Launch Data</a>
        {% endif %}

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% if page == "index"  %}
                <a class="dropdown-item active" href="#">Upcoming Launches</a>
            {% else %}
                <a class="dropdown-item" href="/">Upcoming Launches</a>
            {% endif %}
            <a class="dropdown-item" href="#">Previous Launches</a>

            {% if page == "spacex_graphviz" %}
            <a class="dropdown-item active" href="#">GraphViS&trade;</a>
            {% else %}
            <a class="dropdown-item" href="/graphviz/spacex">GraphViS&trade;</a>
            {% endif %}

        </div>
    </div>

    <a class="nav-link dropdown-toggle" href="">Flight Data</a>

    <a class="nav-link dropdown-toggle" href="">Space Data</a>

    <a class="nav-link dropdown-toggle" href="">Earth Data</a>


</nav>